#map {
	position: relative;
	top: 20px;
	width: 1000px;
	margin: 5px auto 0px;
}

dt.kiv, a.kiv, span.kiv {color: #f03224;}
dt.mop, a.mop, span.mop {color: #116cad;}
dt.nev, a.nev, span.nev {color: #017a38;}
dt.prb, a.prb, span.prb {color: #fa9010;}
dt.frp, a.frp, span.frp {color: #a63283;}

#stations li 
{
	background: url(lines000.png) no-repeat;
}
#stations .reset li 
{
	background-position: 9px -180px;
}
#stations .kiv {background-position: 9px -30px;}
#stations .mop {background-position: 9px -60px;}
#stations .nev {background-position: 9px -90px;}
#stations .prb {background-position: 9px -120px;}
#stations .frp {background-position: 9px -150px;}

.stations-button em.kiv {background-color: #f03224;}
.stations-button em.mop {background-color: #116cad;}
.stations-button em.nev {background-color: #017a38;}
.stations-button em.prb {background-color: #fa9010;}
.stations-button em.frp {background-color: #a63283;}


