body {
    font-size: 14pt;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
    font-size: 26pt;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18pt;
}

.title-line {
    text-align: center;
}

.column {
    padding: 5px;
    margin: 5px;
    border: black 2px solid;
    width: 400px;
}

.line-1 {
    background-color: #ff7c7c;
}

.line-2 {
    background-color: #C0C0FF;
}

.line-3 {
    background-color: #C0FFC0;
}

.line-4 {
    background-color: #ffff77;
}

.line-5 {
    background-color: #d451bf;
}