<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/common00.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/map00000.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/spb00000.css') }}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body cz-shortcut-listen="true">
    <div id="page">
        <div id="canvas">
            <!-- <div style="position: relative; z-index: 900;"><img src="files/header.png" width="1000"/></div>   margin-top: 3px;   -->
            <!-- canvas begin -->
    
            <div id="map" style="position: relative; margin-top: -7px; margin-bottom: 10px; z-index: 90;"><!-- -50-->
                <img src="{{ url_for('static', filename='img/map_site_2020_Neva_rus.png') }}" width="1000" alt="Интерактивная карта метрополитена Санкт-Петербурга">
                <div id="route"><div class="marker" style="left: 369px; top: 206px; background-position: -200px -300px;"></div><div class="marker" style="left: 369px; top: 271px; background-position: -200px -700px;"></div><div class="marker" style="left: 369px; top: 329px; background-position: -200px -700px;"></div><div class="marker" style="left: 368px; top: 450px; background-position: -200px -500px;"></div><div class="marker" style="left: 530px; top: 449px; background-position: -200px -500px;"></div><div class="marker" style="left: 530px; top: 385px; background-position: -200px -700px;"></div><div class="marker" style="left: 530px; top: 333px; background-position: -200px -700px;"></div><div class="marker" style="left: 530px; top: 287px; background-position: -200px -700px;"></div><div class="marker" style="left: 530px; top: 243px; background-position: -200px -700px;"></div><div class="marker" style="left: 530px; top: 198px; background-position: -200px -400px;"></div></div>
                <img id="overlay" src="{{ url_for('static', filename='img/overlay0.png') }}" style="margin-left: -7px; margin-top: 2px;" width="1000" height="1161" usemap="#stations"></div>
                <map name="stations">
                  <area href="#kiv-prv" shape="rect" coords="209,1053,355,1067">
                  <area href="#kiv-lpr" shape="rect" coords="213,1011,361,1027">
                  <area href="#kiv-avt" shape="rect" coords="221,973,293,985">
                  <area href="#kiv-kiz" shape="rect" coords="133,920,264,933">
                  <area href="#kiv-kiz" shape="rect" coords="133,920,264,933">
                  <area href="#kiv-nar" shape="rect" coords="228,854,310,872">
                  <area href="#kiv-bal" shape="rect" coords="269,798,361,824">
                  <area href="#kiv-tin" shape="rect" coords="223,733,400,745">
                  <area href="#kiv-tin" shape="rect" coords="407,752,417,778">
                  <area href="#kiv-psh" shape="rect" coords="542,660,620,670">
                  <area href="#kiv-psh" shape="rect" coords="507,652,520,679">
                  <area href="#kiv-vld" shape="rect" coords="565,595,656,605">
                  <area href="#kiv-vld" shape="rect" coords="548,566,561,593">
                  <area href="#kiv-plv" shape="rect" coords="593,460,717,469">
                  <area href="#kiv-plv" shape="rect" coords="581,485,595,514">
                  <area href="#kiv-chr" shape="rect" coords="571,425,689,440">
                  <area href="#kiv-pll" shape="rect" coords="568,376,696,387">
                  <area href="#kiv-vyb" shape="rect" coords="568,332,667,341">
                  <area href="#kiv-les" shape="rect" coords="570,285,637,293">
                  <area href="#kiv-plm" shape="rect" coords="568,243,716,253">
                  <area href="#kiv-pol" shape="rect" coords="569,198,701,210">
                  <area href="#kiv-akd" shape="rect" coords="571,154,689,168">
                  <area href="#kiv-grp" shape="rect" coords="568,111,737,123">
                  <area href="#kiv-dev" shape="rect" coords="569,68,661,79">
                  <area href="#mop-par" shape="rect" coords="409,41,477,54">
                  <area href="#mop-prp" shape="rect" coords="408,77,515,101">
                  <area href="#mop-ozr" shape="rect" coords="408,124,477,136">
                  <area href="#mop-udl" shape="rect" coords="408,166,493,177">
                  <area href="#mop-pnr" shape="rect" coords="408,210,505,220">
                  <area href="#mop-chr" shape="rect" coords="408,249,514,260">
                  <area href="#mop-pet" shape="rect" coords="408,313,526,326">
                  <area href="#mop-gor" shape="rect" coords="408,373,511,384">
                  <area href="#mop-npr" shape="rect" coords="431,458,544,469">
                  <area href="#mop-npr" shape="rect" coords="401,486,417,514">
                  <area href="#mop-spl" shape="rect" coords="431,554,534,562">
                  <area href="#mop-spl" shape="rect" coords="403,580,418,593">
                  <area href="#mop-tin" shape="rect" coords="224,752,400,761">
                  <area href="#mop-tin" shape="rect" coords="420,749,434,775">
                  <area href="#mop-frn" shape="rect" coords="408,818,514,830">
                  <area href="#mop-mov" shape="rect" coords="408,872,553,884">
                  <area href="#mop-mov" shape="rect" coords="408,873,553,884">
                  <area href="#mop-els" shape="rect" coords="408,918,513,929">
                  <area href="#mop-pap" shape="rect" coords="408,964,512,973">
                  <area href="#mop-mos" shape="rect" coords="408,1010,507,1022">
                  <area href="#mop-zvz" shape="rect" coords="408,1062,490,1073">
                  <area href="#mop-kup" shape="rect" coords="408,1108,484,1118">	  
                  <area href="#nev-beg" shape="rect" coords="70,225,143,237">
                  <area href="#nev-nvk" shape="rect" coords="68,281,200,292">
                  <area href="#nev-prm" shape="rect" coords="111,402,199,432">
                  <area href="#nev-vas" shape="rect" coords="108,471,224,504">
                  <area href="#nev-gdv" shape="rect" coords="432,475,525,485">
                  <area href="#nev-gdv" shape="rect" coords="419,485,434,512">
                  <area href="#nev-mkv" shape="rect" coords="593,476,666,485">
                  <area href="#nev-mkv" shape="rect" coords="563,483,578,512">	  
                  <area href="#nev-pan" shape="rect" coords="761,537,961,547">
                  <area href="#nev-pan" shape="rect" coords="734,564,749,593">
                  <area href="#nev-elz" shape="rect" coords="740,831,850,844">
                  <area href="#nev-lom" shape="rect" coords="740,899,862,910">
                  <area href="#nev-prl" shape="rect" coords="740,970,850,982">
                  <area href="#nev-obh" shape="rect" coords="740,1028,815,1038">
                  <area href="#nev-ryb" shape="rect" coords="740,1081,824,1093">
                  <area href="#prb-sps" shape="rect" coords="342,594,401,604">
                  <area href="#prb-sps" shape="rect" coords="427,567,438,590">	  
                  <area href="#prb-dst" shape="rect" coords="578,554,657,563">
                  <area href="#prb-dst" shape="rect" coords="562,564,578,592">	  
                  <area href="#prb-lpr" shape="rect" coords="666,570,730,620">	  
                  <area href="#prb-pan" shape="rect" coords="761,553,962,562">	  
                  <area href="#prb-pan" shape="rect" coords="750,562,764,593">	  
                  <area href="#prb-nch" shape="rect" coords="816,586,940,607">	  
                  <area href="#prb-lad" shape="rect" coords="837,656,932,667">
                  <area href="#prb-prb" shape="rect" coords="835,721,942,747">
                  <area href="#prb-uld" shape="rect" coords="835,790,915,815">	  
                  <area href="#frp-kpr" shape="rect" coords="245,173,363,198">
                  <area href="#frp-std" shape="rect" coords="245,224,361,236">
                  <area href="#frp-kos" shape="rect" coords="245,287,344,311">
                  <area href="#frp-chk" shape="rect" coords="245,341,338,352">
                  <area href="#frp-spr" shape="rect" coords="245,388,342,400">
                  <area href="#frp-spr" shape="rect" coords="208,426,228,444">
                  <area href="#frp-adm" shape="rect" coords="229,531,359,549">      
                  <area href="#frp-sad" shape="rect" coords="348,577,399,587">
                  <area href="#frp-sad" shape="rect" coords="403,559,418,577">
                  <area href="#frp-zvn" shape="rect" coords="542,643,642,653">
                  <area href="#frp-zvn" shape="rect" coords="521,647,536,677">	  
                  <area href="#frp-obk" shape="rect" coords="565,736,693,747">
                  <area href="#frp-vlk" shape="rect" coords="592,861,686,871">
                  <area href="#frp-buh" shape="rect" coords="592,918,698,930">
                  <area href="#frp-mez" shape="rect" coords="592,963,716,974">
                  <area href="#frp-prs" shape="rect" coords="592,1010,716,1023">
                  <area href="#frp-dun" shape="rect" coords="592,1053,681,1067">
                  <area href="#frp-shu" shape="rect" coords="592,1100,668,1115">
                  
                </map>
                <!-- <img src="files/footer.png" width="1000" style="margin-top:20;"/> -->
                <dl id="tooltip" style="display: none; left: 632px; top: 316px;">
                    <dt><br></dt>
                    <dd><br></dd>
                </dl>
            </div>
            <!-- canvas end -->		
        </div>
    
    
    <script type="text/javascript" src="files/panel000.js"></script>
    <script type="text/javascript" src="files/route000.js"></script>
    <script type="text/javascript" src="files/spb00000.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        fixedHeader.init();
        subway.init();
        panel.init();
    });
    </script>
    
    
    
    <div id="rememberry__extension__root" style="all: unset;"></div>
</body>
</html>