<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="title"><h1>Список ИБП</h1></div>
        <div class="content-container">
            <div class="column line-1">
                <div class="title-line"><h2>Линия-1</h2></div>
                <ul>
                    <li><a href="http://10.2.64.203">Площадь Ленина</a></li>
                    <li><a href="http://10.14.64.203">Выборская</a></li>
                    <li><a href="http://10.16.64.203">Площадь Мужества</a></li>
                    <li><a href="http://10.20.64.203">Девяткино</a></li>
                    <br>
                    <li><a href="http://10.8.64.220">Диспетчеры</a></li>
                </ul>
            </div>
            <div class="column line-2">
                <div class="title-line"><h2>Линия-2</h2></div>
                <ul>
                    <li><a href="http://10.32.64.203">Московская</a></li>
                    <li><a href="http://10.43.64.203">Пионерская</a></li>
                </ul>
            </div>
            <div class="column line-3">
                <div class="title-line"><h2>Линия-3</h2></div>
                <ul>
                    <li><a href="http://10.61.64.203">Обухово</a></li>
                    <li><a href="http://10.66.64.203">Маяковская</a></li>
                    <li><a href="http://10.71.64.203">Зенит</a></li>
                    <li><a href="http://10.72.64.203">Э/Д Невское</a></li>
                </ul>
            </div>
            <div class="column line-4">
                <div class="title-line"><h2>Линия-4</h2></div>
                <ul>
                    <li><a href="http://10.84.64.203">Новочеркасская</a></li>
                </ul>
            </div>
            <div class="column line-5">
                <div class="title-line"><h2>Линия-5</h2></div>
                <ul>
                    <li><a href="http://10.117.64.203">Проспект Славы</a></li>
                    <li><a href="http://10.114.64.203">Волковская</a></li>
                    <li><a href="http://10.88.64.203">Садовая</a></li>
                    <li><a href="http://10.90.64.203">Спортивная</a></li>
                    <li><a href="http://10.120.64.203">Э/Д Южное</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>